@{
    ViewBag.Title = "聯絡我們";
    Layout = "~/Views/Shared/Layout.cshtml";
}

   <div id="content">
    
    <h3>聯絡我們<span>Contact Us</span></h3>
    
    <iframe width="380" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.tw/maps?f=q&amp;source=s_q&amp;hl=zh-TW&amp;geocode=&amp;q=%E6%A1%83%E5%9C%92%E7%B8%A3%E4%B8%AD%E5%A3%A2%E5%B8%82%E9%A0%98%E8%88%AA%E5%8D%97%E8%B7%AF1%E6%AE%B5176%E8%99%9F4%E6%A8%93&amp;aq=&amp;sll=24.976783,121.20919&amp;sspn=0.244303,0.308647&amp;brcurrent=3,0x346823d6cce18d9b:0x4bc829840a61fae5,0,0x34683d0eceda863f:0x54e44f52583a486a&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%A1%83%E5%9C%92%E7%B8%A3%E9%A0%98%E8%88%AA%E5%8D%97%E8%B7%AF%E4%B8%80%E6%AE%B5&amp;t=m&amp;z=14&amp;ll=25.000693,121.20735&amp;output=embed"></iframe>
    
    <h4>台灣</h4>
    <ul>
     <li>TEL: +886 3 422-6103 / +886 3 422-2142</li>
     <li>FAX: +886 3 422-6109</li>
     <li>ADD: 桃園縣中壢市領航南路1段176號4樓<br />(僑峰大樓)</li>
     <li>Email: <a href="mailto:lins.care.nz@gmail.com">lins.care.nz@gmail.com</a></li>
    </ul>
    
    <h4>紐西蘭</h4>
    <ul>
     <li>TEL: +64 9 276-5388</li>
     <li>FAX: +64 9 276-5788</li>
    </ul>
    
   </div>
   <!-- content //-->

