@{
    ViewBag.Title = "關於好健康";
    Layout = "~/Views/Shared/Layout.cshtml";
}

   <div id="content">
    
    <h3>關於好健康<span>About Us</span></h3>
    
    <p>好健康是一家早期移民紐西蘭的台灣家庭，希望把以農立國全球公認青山綠水零污染的紐西蘭產品，引進分享給更多台灣鄉親的進口兼代理公司。</p>
    <p>基於長期居住紐西蘭的優勢，好健康希望帶您深入紐西蘭，體驗一下來自一個真正好健康國家的優質產品。</p>
    
    <h4>公司歷史</h4>
    <ul>
     <li><strong>1990</strong>全家移民紐西蘭</li>
     <li><strong>1996</strong>開始經營食品業</li>
     <li><strong>2010</strong>深感台灣人對健康與飲食的重視和需求，開始了籌備研發的工作。</li>
     <li><strong>2013</strong>『好健康』 誕生了！</li>
    </ul>
    
    <h3>精選產品<span>Hot Products</span></h3>
    <ol>
     <li><a href="~/Products/Products1_1"><img src="~/Content/images/Products/c1_1.jpg" /><em>紐西蘭高優質初乳奶粉</em></a></li>
     <li><a href="~/Products/Products6_5"><img src="~/Content/images/Products/c6_5.jpg" /><em>Light &amp; Right (莓果)</em></a></li>
     <li><a href="~/Products/Products7_2"><img src="~/Content/images/Products/c7_2.jpg" /><em>Café-style Light 莓果</em></a></li>
     <li><a href="~/Products/Products8_1"><img src="~/Content/images/Products/c8_1.jpg" /><em>烤燕麥棒 (黑巧克力)</em></a></li>
    </ol>    
   </div>

   <!-- content //-->

