@{
    ViewBag.Title = "燕麥棒 (杏仁&巧克力)";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
 <li><a href="~/Products/Products_list">產品介紹 /</a></li>
}

   <div id="content">
    
    <h3>產品介紹<span>Our Products</span></h3>
    
    <p class="floatL">
      <a class="propic fancybox" href="~/Content/images/Products/c5_4_b.jpg"><img src="~/Content/images/Products/c5_4.jpg" /></a>
      <a href="~/Content/images/Products/sgs.pdf" target="new"><img src="~/Content/images/Products/sgs.jpg" alt=""></a>
    </p>
    <dl class="pro">
     <dt>燕麥棒 (杏仁&amp;巧克力)</dt>
     <dd>
      Nice &amp; Natural 就是希望在忙碌的生活裡，還是能給自己和家人吃的好一點，所以在研發的過程當中依據著食物中的五大類群，也就是『大自然的五顆星』，由全穀燕麥，天然水果，葡萄乾等多種有益健康的天然素材組合而成，散發獨特香氣與純淨清新的口感，讓您會想吃了一口接一口。<br>
      <strong>※營養棒</strong> 攜帶方便，是成長中的兒童和成人理想的健康食品。<br>
      <ul>
      <li><strong>Nice &amp; Natural – “熱愛生活中的每一個大小冒險”</strong></li>
       <li>• 紐西蘭第一家推出堅果棒營養棒品牌。</li>
       <li>• 紐西蘭、澳洲，營養棒是小朋友便當裡必備的<strong>健康餐點</strong>。</li>
       <li>• 紐西蘭原裝進口，經過當地 SGS 最嚴厲的 SQF 食品安全品質標準。</li>
      </ul>
      </dd>
    </dl>
    
    <h4>產品規格</h4>
    <blockquote>
      <p>Nice &amp; Natural是一家在紐西蘭有將近30年糕餅品牌，秉持著 150多年傳統的秘方，製造最好的餅乾。多次的改良後現在成為大人小孩都喜愛的口味，是一家為了讓生命充滿著『健康、活力、笑容』的食品品牌 。</p>
      <p>每一份點心『天然、美味、可口』，為了提供忙碌生活中的您一個完善的營養選擇。我們有堅果棒、燕麥棒、還有小朋友最喜愛的<strong>可口棒</strong>和<strong>水果條</strong>。 所有的產品都是精心設計，實實在在地塞滿了來自大自然的各種恩賜。</p>
      <p>在 Nice &amp; Natural，我們喜歡嘗試新事物。我們是紐西蘭第一家推出堅果棒還有水果條的營養棒品牌。<br>在市面上也已經有許多讓人映像深刻的產品，可是我們還是一直不斷的努力在研發新產品，因為…</p>
      <p><strong>『嚐試』</strong>才是人生最大的樂趣。</p>
    </blockquote>
    <dl class="detail">
     <dt>商品名稱:</dt>
     <dd>燕麥棒 (杏仁&amp;巧克力)</dd>
     <dt>編號:</dt>
     <dd>NNSG01</dd>
     <dt>品牌:</dt>
     <dd>Nice &amp; Natural<sup>TM</sup></dd>
     <dt>英文名稱:</dt>
     <dd>Supergrains Muesli Bar Almond Chocolate</dd>
     <dt>內容規格:</dt>
     <dd>180g</dd>
     <dt>成分內容:</dt>
     <dd>
      穀類 (全燕麥、燕麥餅 (全燕麥粉、米粉、糖、麥芽萃取物、鹽))、葡萄糖漿、牛奶巧克力 (糖、乳固體、可可脂、可可塊、大豆卵磷脂、交酯化蓖麻酸聚合甘油酯、天然香料)、杏仁、黑糖、蜂蜜、藜麥餅、葵花油、大豆卵磷脂、天然香料、海鹽。<br>
      <strong>全燕麥 31%、燕麥餅 11%、牛奶巧克力 15%、杏仁 8%、藜麥餅 2%</strong>
     </dd>
     <dt>食用方式:</dt>
     <dd>
      <ul>
       <li>1.	餐前餐後最佳甜點</li>
       <li>2.	搭配 咖啡，茶，果汁飲料，牛初乳奶粉</li>
      </ul>
     </dd>
     <dt>適合人群:</dt>
     <dd>
      <ul>
       <li>1. 上班族辦公室</li>
       <li>2. 在外的學生遊子</li>
       <li>3. 登山騎車運動</li>
       <li>4. 男女老少皆宜</li>
      </ul>
     </dd>
     <dt>注意事項:</dt>
     <dd>
      <ul>
       <li>1.	本產品含麥片麩質、牛奶、本木堅果(杏仁)和大豆。</li>
       <li>2.	生產機器也用於製造含有花生，芝麻粒和亞硫酸鈉之類產品</li>
      </ul>
     </dd>
     <dt>保存方式:</dt>
     <dd>
      <ul>
       <li>為確保燕麥棒的最優良品質，請儲存於陰涼乾燥處。</li>
       <li>包裝開封後請盡早食用完畢，冷藏後食用更佳。</li>
      </ul>
     </dd>
     <dt>保存期限:</dt>
     <dd>14個月 / 有效日期請參閱盒蓋上 (西元 日/月/年)</dd>
     <dt>特性說明:</dt>
     <dd>
      豐富的 全穀燕麥、蜂蜜。
      <ul>
        <li><strong>杏仁:</strong></li>
        <li>• 豐富的黃酮類和多酚類成分 - 降低人體內膽固醇含量，心臟病和很多慢性病的發病危險。</li>
        <li>• 止咳平喘，滋潤補肺、潤腸通便</li>
        <li>• 養顏美容，促進皮膚微循環，使皮膚紅潤光澤</li>
      </ul>
      <ul>
        <li><strong>藜麥:</strong></li>
        <li>• 貴為太空人的未來食物 – 含豐富的維生素B群、A、E、蛋白質、鈣、鐵、鎂、鉀、鋅</li>
        <li>• 含有人體 8 種 必需氨基酸(人體無法自行製造的氨基酸)</li>
        <li>• 高膳食纖維 - 增加飽足感佔有腸胃體積</li>
      </ul>
     </dd>
    </dl>
    
   </div>
   <!-- content //-->

