@{
    ViewBag.Title = "紐西蘭百花蜜 (苜蓿蜜&野花蜜)";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
 <li><a href="~/Products/Products_list">產品介紹 /</a></li>
}

   <div id="content">
    
    <h3>產品介紹<span>Our Products</span></h3>
    
    <p class="floatL">
      <a class="propic fancybox" href="~/Content/images/Products/c8_7_b.jpg"><img src="~/Content/images/Products/c8_7.jpg" /></a>
      <img src="~/Content/images/Products/c8_7-2.jpg" alt="">
    </p>
    <dl class="pro">
     <dt>@ViewBag.Title</dt>
     <dd>
      為了提供忙碌生活中的您一個完善的營養選擇, Mother Earth 的商品系列有：
      <ul>
       <li>• 綜合堅果</li>
       <li>• 果乾</li>
       <li>• 鹹味零嘴</li>
       <li>• 果醬</li>
       <li>• 蜂蜜</li>
       <li>• 營養棒(攜帶方便的餐點)</li>
      </ul>
      所有的產品都是精心設計，實實在在地塞滿了來自<strong>「大地的母愛」</strong>。
      </dd>
    </dl>
    
    <h4>產品規格</h4>
    <blockquote>
      <p>Mother Earth 是一間致力於生產穀物與堅果類的點心小吃品牌。</p>
      <p><strong>『嚴選來自世界各地的精美食材，以最單純的加工製做，呈現出最天然健康、美味可口的點心。』</strong></p>
      <p>Mother Earth 對商品訴求</p>
      <ul>
       <li>• 天然、美味、可口</li>
       <li>• 不含基因改造食材</li>
       <li>• 不含人工色素</li>
       <li>• 不含人工香料</li>
      </ul>
    </blockquote>
    <dl class="detail">
     <dt>商品名稱:</dt>
     <dd>@ViewBag.Title</dd>
     @* <dt>編號:</dt>
     <dd>NNSF01</dd> *@
     <dt>品牌:</dt>
     <dd>Mother Earth</dd>
     <dt>英文名稱:</dt>
     <dd>Liquid Honey</dd>
     <dt>內容規格:</dt>
     <dd>450g</dd>
     <dt>成分內容:</dt>
     <dd>100% 純蜂蜜 (不含化學添加物、農藥、抗生素)</dd>
     <dt>食用方式:</dt>
     <dd>
      <ul>
       <li>1.	可直接放入口中食用。</li>
       <li>2.	搭配式 - 塗抹於麵包、餅乾、沙拉食用。</li>
       <li>3. 沖泡式 - 與飲品或開水混合食用。<br/>※三餐飯前半小時，直接放入口中食用，效果更佳</li>
      </ul>
     </dd>
     <dt>適合人群:</dt>
     <dd>
      <ul>
       <li>1. 上班族辦公室</li>
       <li>2. 繁忙人士</li>
       <li>3. 男女老少皆宜</li>
      </ul>
     </dd>
     <dt>注意事項:</dt>
     <dd>
      <ul>
       <li>1. 一歲以下的嬰兒不宜食用。</li>
       <li>2. 糖尿病患者請先徵詢醫師建議。</li>
      </ul>
     </dd>
     <dt>保存方式:</dt>
     <dd>
      <ul>
       <li>請儲存於陰涼乾燥處，結晶係屬自然物理現象。</li>
      </ul>
     </dd>
     <dt>保存期限:</dt>
     <dd>2 年 / 有效日期請參閱盒蓋上 (西元 日/月/年)</dd>
    </dl>
    
   </div>
   <!-- content //-->

