@{
    ViewBag.Title = "產品介紹";
    Layout = "~/Views/Shared/Layout.cshtml";
}

   <div id="content">
    
    <h3>產品介紹<span>Our Products</span></h3>
    
    <h4 id="c1">Lin's Care 牛初乳奶粉</h4>
    <ol>
     <li><a href="~/Products/Products1_1"><img src="~/Content/images/Products/c1_1.jpg" /><em>紐西蘭高優質初乳奶粉</em></a></li>
     @*<li><a href="~/Products/Products1_2"><img src="~/Content/images/Products/c1_2.jpg" /><em>牛初乳奶片</em></a></li>*@
    </ol>
    
    @*<h4 id="c4">羊奶片</h4>
    <ol>
     <li><a href="~/Products/Products4_1"><img src="~/Content/images/Products/c4_1.jpg" /><em>羊奶片</em></a></li>
    </ol>*@
    
    <h4 id="c2">Jade Valley 麥盧卡蜂蜜</h4>
    <ol>
     <li><a href="~/Products/Products2_1"><img src="~/Content/images/Products/c2_1.jpg" /><em>UMF 5+</em></a></li>
     <li><a href="~/Products/Products2_2"><img src="~/Content/images/Products/c2_2.jpg" /><em>UMF 10+</em></a></li>
     <li><a href="~/Products/Products2_3"><img src="~/Content/images/Products/c2_3.jpg" /><em>UMF 15+</em></a></li>
    </ol>
    
    <h4 id="c3">蜂蜜蒸餾酒 / 蜜酒</h4>
    <ol>
     <li><a href="~/Products/Products3_1"><img src="~/Content/images/Products/c3_3.jpg" /><em>麥盧卡蜂蜜酒</em></a></li>
     <li><a href="~/Products/Products3_2"><img src="~/Content/images/Products/c3_2.jpg" /><em>麥盧卡蜂蜜酒</em></a></li>
     <li><a href="~/Products/Products3_3"><img src="~/Content/images/Products/c3_1.jpg" /><em>麥盧卡金裝蜂蜜酒</em></a></li>
    </ol>

    <h4 id="c5">Mother Earth</h4>
    <ol>
     <li><a href="~/Products/Products8_1"><img src="~/Content/images/Products/c8_1.jpg" /><em>烤燕麥棒<br>(黑巧克力)</em></a></li>
     <li><a href="~/Products/Products8_2"><img src="~/Content/images/Products/c8_2.jpg" /><em>烤燕麥棒<br>(巧克力塊)</em></a></li>
     <li><a href="~/Products/Products8_3"><img src="~/Content/images/Products/c8_3.jpg" /><em>烤燕麥棒<br>(橙香巧克力)</em></a></li>
     <li><a href="~/Products/Products8_4"><img src="~/Content/images/Products/c8_4.jpg" /><em>烤燕麥棒<br>(草莓優酪乳)</em></a></li>
     <li><a href="~/Products/Products8_5"><img src="~/Content/images/Products/c8_5.jpg" /><em>烤燕麥棒<br>(檸檬馬林糖)</em></a></li>
     <li><a href="~/Products/Products8_6"><img src="~/Content/images/Products/c8_6.jpg" /><em>烤燕麥棒<br>(覆盆莓白巧克力)</em></a></li>
     <li><a href="~/Products/Products8_7"><img src="~/Content/images/Products/c8_7.jpg" /><em>烤燕麥棒<br>(苜蓿蜜&amp;野花蜜)</em></a></li>
    </ol>

    <h4 id="c6">Hubbards 麥片</h4>
    <ol>
     <li><a href="~/Products/Products6_1"><img src="~/Content/images/Products/c6_1.jpg" /><em>Simply 燕麥塊 (莓果)</em></a></li>
     <li><a href="~/Products/Products6_2"><img src="~/Content/images/Products/c6_2.jpg" /><em>Simply 燕麥片 (莓果)</em></a></li>
     <li><a href="~/Products/Products6_3"><img src="~/Content/images/Products/c6_3.jpg" /><em>Simply 燕麥片大包裝<br>(蔓越莓&amp;香草)</em></a></li>
     <li><a href="~/Products/Products6_4"><img src="~/Content/images/Products/c6_4.jpg" /><em>Light &amp; Right 麥片(杏桃) </em></a></li>
     <li><a href="~/Products/Products6_5"><img src="~/Content/images/Products/c6_5.jpg" /><em>Light &amp; Right 麥片(莓果)</em></a></li>
     <li><a href="~/Products/Products6_6"><img src="~/Content/images/Products/c6_6.jpg" /><em>Light &amp; Right 麥片<br>(榛子&amp;杏仁)</em></a></li>
    </ol>

    <h4 id="c7">Vogel's 麥片</h4>
    <ol>
     <li><a href="~/Products/Products7_1"><img src="~/Content/images/Products/c7_1.jpg" /><em>Café-style Light 原味</em></a></li>
     <li><a href="~/Products/Products7_2"><img src="~/Content/images/Products/c7_2.jpg" /><em>Café-style Light 莓果</em></a></li>
     <li><a href="~/Products/Products7_3"><img src="~/Content/images/Products/c7_3.jpg" /><em>燕麥塊 (蜂蜜香脆)</em></a></li>
     <li><a href="~/Products/Products7_4"><img src="~/Content/images/Products/c7_4.jpg" /><em>燕麥塊 (蔓越莓&amp;黑醋栗)</em></a></li>
    </ol>
    
   </div>
   <!-- content //-->

