@{
    ViewBag.Title = "燕麥塊(蔓越莓&amp;黑醋栗)";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
 <li><a href="~/Products/Products_list">產品介紹 /</a></li>
}

   <div id="content">
    
    <h3>產品介紹<span>Our Products</span></h3>
    
    <p class="floatL">
      <a class="propic fancybox" href="~/Content/images/Products/c7_4_b.jpg"><img src="~/Content/images/Products/c7_4.jpg" /></a>
      <img src="~/Content/images/Products/c7_4-2.jpg" alt="">
    </p>
    <dl class="pro">
     <dt>燕麥塊(蔓越莓&amp;黑醋栗)</dt>
     <dd>
      許多健康專家都認為<strong>「早餐是孩子們一天之中最重要的一餐」</strong>。 <strong>Vogel’s</strong> 的麥片系列產品中，我們為您精心提供各類便於人體吸收的<strong>穀物，水果，種子和堅果等健康食材</strong>。富含多種蛋白質，維生素和礦物質，可以滿足您一天的健康所需。<br>
      <strong>Vogel’s</strong> 對自然的瞭解，幫助我們找到了各種健康功效的天然優質原材料。例如<strong>無麩質、全穀物、甜菊(天然植物甜味劑，減少精製糖的需求)</strong>。<br>
      我們每天為成千上萬的家庭提供健康和美味的早餐。我們的麥片主要來自本土的精選原料而且不再額外添加「人工色素，防腐劑及香料」。<br>
      <strong>※ 「Clusters 」- 穀物燕麥塊 系列</strong> 如果喜歡脆脆，像餅乾塊的口感，一定要選擇燕麥塊系列的Crunchy Honey (蜂蜜香脆) 或Cranberry &amp; Blackcurrant (蔓越莓 &amp; 黑醋栗)。
      </dd>
    </dl>
    
    <h4>產品規格</h4>
    <blockquote>
      <p>Vogel’s 在紐西蘭, 英國和澳洲是一個享譽盛名的「麵包」和「麥片」品牌。品牌的靈感源自一位瑞士營養大師 Alfred Vogel 「阿爾弗雷德·沃格爾」對健康生命的追求和信念。他認為，健康和營養是密切相關的，而生命中最美好的品質可以通過攝取營養豐富的天然食品，均衡飲食和健康的生活方式來實現。Vogel’s 相信令人垂涎三尺的口味和獨特的營養成分都來自於大自然中最好的食材。
      </p>
      <p>Vogel’s 致力於生產美味的優質麥片產品，我們採取所有切實可行的步驟，確保整個供應鏈中產品的安全性、品質和完整性。我們採用國際公認的 HACCP(食品安全管理系統驗證)體係來確保食品的安全。該系統評估，控制危害，涵蓋了整個食品生產過程中，從原料的選擇到運輸和食用。</p>
    </blockquote>
    <dl class="detail">
     <dt>商品名稱:</dt>
     <dd>燕麥塊(蔓越莓&amp;黑醋栗)</dd>
     @* <dt>編號:</dt>
     <dd>NNSF01</dd> *@
     <dt>品牌:</dt>
     <dd>Vogel’s</dd>
     <dt>英文名稱:</dt>
     <dd>Cranberry and Blackcurrant Cluster</dd>
     <dt>內容規格:</dt>
     <dd>450g</dd>
     <dt>成分內容:</dt>
     <dd>穀類 (70%)(全麥 54%)(燕麥，玉米，米，大麥，小麥)，糖，水果(蔓越莓乾(5%)(蔓越莓，糖，葵花籽油)，椰子<含偏亞硫酸氫鈉>)，玄米油，金黃糖漿，黑糖，葡萄糖<含偏亞硫酸氫鈉>，果糖，馬鈴薯澱粉，天然香料 ，濃縮黑醋栗汁(0.5%)，鹽，大麥麥芽萃取物，碳酸鈉,  脂肪酸甘油酯，檸檬酸，維生素(維生素E, 菸鹼酸, B1, B2，葉酸)，礦物質(還原鐵,碳酸鈣)。</dd>
     <dt>食用方式:</dt>
     <dd>
      <ul>
       <li>1.	健康早餐的最佳選擇</li>
       <li>2.	搭配 牛奶，豆漿或優格</li>
      </ul>
     </dd>
     <dt>適合人群:</dt>
     <dd>
      <ul>
       <li>1. 上班族辦公室</li>
       <li>2. 正在發育的孩子</li>
       <li>3. 男女老少皆宜</li>
      </ul>
     </dd>
     <dt>注意事項:</dt>
     <dd>
      <ul>
       <li>本產品含有堅果和添加亞硫酸鹽。</li>
      </ul>
     </dd>
     <dt>保存方式:</dt>
     <dd>
      <ul>
       <li>請儲存於陰涼乾燥處。</li>
       <li>包裝開封後請盡早食用完畢。</li>
      </ul>
     </dd>
     <dt>保存期限:</dt>
     <dd>12個月 / 有效日期請參閱盒蓋上 (西元 日/月/年)</dd>
     <dt>特性說明:</dt>
     <dd>
      香脆的玉米片和膨發米加上美味交融的黑醋栗汁微烤，讓燕麥塊有酸酸甜甜的口感。再混入蔓越莓亁和五穀雜糧片給予您充分的體力來開始新的一天。
     </dd>
    </dl>
    
   </div>
   <!-- content //-->

