@{
    ViewBag.Title = "Simply 燕麥塊 (莓果)";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
 <li><a href="~/Products/Products_list">產品介紹 /</a></li>
}

   <div id="content">
    
    <h3>產品介紹<span>Our Products</span></h3>
    
    <p class="floatL">
      <a class="propic fancybox" href="~/Content/images/Products/c6_1_b.jpg"><img src="~/Content/images/Products/c6_1.jpg" /></a>
    </p>
    <dl class="pro">
     <dt>Simply 燕麥塊 (莓果)</dt>
     <dd>
      忙碌的生活裡總是希望自己和家人能吃的好一點，所以在研發的過程當中，我們依據食物中的五大類群，所謂『大自然的五顆星』，由全殼燕麥，天然水果，葡萄乾等多種有益健康的天然素材組合而成，散發獨特香氣與純淨清新的口感，讓您會想吃了一口接一口。<br>
      <strong>※ Simply 系列 (一個簡簡單單的麥片餐點)</strong><br>
      「單純就好！」經過多次的訴求後，我們回到廚房裡開始研究，到底什麼是全家人都喜歡的麥片。於是，<strong>Simply</strong> 系列誕生了，「一個簡簡單單的麥片餐」。
      </dd>
    </dl>
    
    <h4>產品規格</h4>
    <blockquote>
      <p>Hubbards是紐西蘭第一自家燕麥品牌。Hubbards夫婦在1990年 創立了 Hubbards，宗旨是製作好食物，讓世界變得更美好。Hubbards的食物不僅要天然、健康、營養、美味、環保、讓您感到活力十足，也要讓<strong>「這個世界每天充滿正能量」</strong>。<strong>“ Happy People Make Happy Food ” </strong></p>
    </blockquote>
    <dl class="detail">
     <dt>商品名稱:</dt>
     <dd>Simply 燕麥塊 (莓果)</dd>
     @* <dt>編號:</dt>
     <dd>NNSF01</dd> *@
     <dt>品牌:</dt>
     <dd>Hubbards</dd>
     <dt>英文名稱:</dt>
     <dd>Simply Muesli Clusters (Berry)</dd>
     <dt>內容規格:</dt>
     <dd>425g</dd>
     <dt>成分內容:</dt>
     <dd>全穀燕麥 、玉米、糖、葵花油、燕麥粉、膨發大米、麥芽糊精、椰子<含亞硫酸鈉>、蔓越莓[含甘油]、大麥麥芽萃取物、香料、維生素（B1、B2、菸鹼酸、葉酸)、焦磷酸鐵。</dd>
     <dt>食用方式:</dt>
     <dd>
      <ul>
       <li>1.	健康早餐的最佳選擇</li>
       <li>2.	搭配 牛奶，豆漿或優格</li>
      </ul>
     </dd>
     <dt>適合人群:</dt>
     <dd>
      <ul>
       <li>1. 上班族辦公室</li>
       <li>2. 正在發育的孩子</li>
       <li>3. 男女老少皆宜</li>
      </ul>
     </dd>
     <dt>注意事項:</dt>
     <dd>
      <ul>
       <li>本產品工廠設備處理過花生，大豆和堅果。</li>
      </ul>
     </dd>
     <dt>保存方式:</dt>
     <dd>
      <ul>
       <li>請儲存於陰涼乾燥處。</li>
       <li>包裝開封後請盡早食用完畢。</li>
      </ul>
     </dd>
     <dt>保存期限:</dt>
     <dd>12個月 / 有效日期請參閱盒蓋上 (西元 日/月/年)</dd>
     <dt>特性說明:</dt>
     <dd>
      酸酸甜甜的蔓越莓加上鬆脆的椰子燕麥塊帶出莓果的超級美味。<br>
      豐富的 全穀燕麥、水果
      <ul>
        <li><strong>蔓越莓:</strong></li>
        <li>• 預防膀胱和泌尿道感染</li>
        <li>• 降低細菌感染率</li>
        <li>• 避免老年癡呆、養顏美容</li>
        <li>• 含有天然豐富的 『抗氧化性物質』</li>
      </ul>
     </dd>
    </dl>
    
   </div>
   <!-- content //-->

