@{
    ViewBag.Title = "羊奶片";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
 <li><a href="~/Products/Products_list">產品介紹 /</a></li>
}

   <div id="content">

    <h3>產品介紹<span>Our Products</span></h3>

    <p class="floatL"><a class="propic fancybox" href="~/Content/images/Products/c4_1_b.jpg"><img src="~/Content/images/Products/c4_1.jpg" /></a></p>
    <dl class="pro">
     <dt>羊奶片</dt>
     <dd>羊奶含豐富的乳鈣和許多有益的營養成分。它與母乳最為接近，容易被人體消化和吸收，乳糖含量也相對的比牛奶低。因此，對於部分無法接受牛奶的人或有乳糖不耐症的人，羊奶則是更適合的選擇。Lin’s Care 羊奶片適合各年齡群，攜帶又方便。<br /><br /><strong>※奶素</strong></dd>
    </dl>

    <h4>產品規格</h4>
    <dl class="detail">
     <dt>商品名稱:</dt>
     <dd>羊奶片</dd>
     <dt>編號:</dt>
     <dd>LC03</dd>
     <dt>品牌:</dt>
     <dd>Lin’s Care&#9415;</dd>
     <dt>英文名稱:</dt>
     <dd>Goat’s Milk Tablets</dd>
     <dt>內容規格:</dt>
     <dd>225g (750mg x 300粒)</dd>
     <dt>成分內容:</dt>
     <dd>葡萄糖、羊奶粉200毫克/片、磷酸氫鈣、牛奶香料、全脂奶粉10毫克/片、硬脂酸鎂、二氧化矽。</dd>
     <dt>食用方式:</dt>
     <dd>
      <ul>
       <li>
       &nbsp;<img src="~/Content/images/arrow.gif" /> 建議使用量<br />
       <em>3歲以上: 每日 1~4 片</em><br />
       <em>成年人: &nbsp;每日 4~10 片</em><br />
       ※多食物益
       </li>
      </ul>
     </dd>
     <dt>注意事項:</dt>
     <dd>
      <ul>
       <li>1.	營養補充食品，不作為主食。</li>
       <li>2.	三歲以下的嬰兒不宜食用。</li>
       <li>3.	糖尿病患者請先徵詢醫師建議。</li>
      </ul>
     </dd>
     <dt>保存方式:</dt>
     <dd>為確保羊奶片的最優良品質，請儲存於30度C以下的乾燥處。</dd>
     <dt>保存期限:</dt>
     <dd>3年 / 有效日期如包裝所示 (西元 日/月/年)</dd>
     <dt>特性說明:</dt>
     <dd>
      羊奶是最古老的天然飲料之一，在營養學界被稱 “奶中之王”，含
      <ul>
       <li>1.	豐富的乳鈣，提供成長中的孩子，身體發育和骨骼生長上的營養補給。</li>
       <li>2.	補充礦物質，緩和緊張情緒、舒緩精神壓力、及護肝益胃的效果。</li>
       <li>3.	乳糖含量比牛奶低，更適合無法接受牛奶的人。</li>
       <li>4.	攜帶方便。</li>
      </ul>
     </dd>
    </dl>

   </div>
   <!-- content //-->

