@{
ViewBag.Title = "烘培燕麥棒(繽紛彩莓)";
Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
<li><a href="~/Products/Products_list#c5">產品介紹 /</a></li>
}

<div id="content">

    <h3>產品介紹<span>Our Products</span></h3>

    <p class="floatL">
        <a class="propic fancybox" href="~/Content/images/Products/c8/very-berry.png"><img src="~/Content/images/Products/c8/very-berry.png"></a>
    </p>
    <dl class="pro">
        <dt>@ViewBag.Title</dt>
        <dd>
            為了提供忙碌生活中的您一個完善的營養選擇, Mother Earth 的商品系列有：
            <ul>
                <li>• 綜合堅果</li>
                <li>• 果乾</li>
                <li>• 鹹味零嘴</li>
                <li>• 果醬</li>
                <li>• 蜂蜜</li>
                <li>• 營養棒(攜帶方便的餐點)</li>
            </ul>
            所有的產品都是精心設計，實實在在地塞滿了來自<strong>「大地的母愛」</strong>。
        </dd>
    </dl>

    <h4>產品規格</h4>
    <img class="img-center" src="~/Content/images/Products/c8/Very Berry 1.jpg">
    <blockquote>
        <p>Mother Earth 是一間致力於生產穀物與堅果類的點心小吃品牌。</p>
        <p><strong>『嚴選來自世界各地的精美食材，以最單純的加工製做，呈現出最天然健康、美味可口的點心。』</strong></p>
        <p>Mother Earth 對商品訴求</p>
        <ul>
            <li>• 天然、美味、可口</li>
            <li>• 不含基因改造食材</li>
            <li>• 不含人工色素</li>
            <li>• 不含人工香料</li>
        </ul>
    </blockquote>
    <dl class="detail">
        <dt>商品名稱:</dt>
        <dd>@ViewBag.Title</dd>

        <dt>品牌:</dt>
        <dd>Mother Earth</dd>

        <dt>英文名稱:</dt>
        <dd>Baked Oaty Slices Very Berry </dd>

        <dt>內容規格:</dt>
        <dd>240g</dd>

        <dt>成分內容:</dt>
        <dd>全麥穀物39％(全穀燕麥)，漿果12％(蔓越莓53％(蔓越莓65％，糖，葵花籽油)，漿果片47％(水果42％(草莓泥57％，黑莓泥22％，覆盆莓泥 11％，藍莓泥10％)，蔗糖，甘油，糖，小麥纖維，柑橘果膠，天然香料，蘋果酸))，奶油11％(奶油，(牛奶)，鹽))，紅糖，小麥粉，蔗糖，葡萄乾5％(葡萄乾，葵花籽油)，蘇丹娜葡萄乾(蘇丹娜葡萄乾，葵花籽油)，全蛋粉，焦磷酸鈉，碳酸氫鈉，葡萄糖，天然香料，檸檬酸。</dd>

        <dt>食用方式:</dt>
        <dd>
            <ul>
                <li>1. 健康零食的最佳選擇</li>
                <li>2. 可搭配 茶，咖啡，牛奶等飲品</li>
            </ul>
        </dd>

        <dt>適合人群:</dt>
        <dd>
            <ul>
                <li>1. 上班族辦公室</li>
                <li>2. 繁忙人士</li>
                <li>3. 男女老少皆宜</li>
            </ul>
        </dd>

        <dt>注意事項:</dt>
        <dd>本產品含有牛奶及蛋製品,工廠設備處理過花生，芝麻和其他堅果</dd>

        <dt>保存方式:</dt>
        <dd>請儲存於陰涼乾燥處。</dd>

        <dt>保存期限:</dt>
        <dd>12個月 / 有效日期請參閱盒蓋上 (西元 日/月/年)</dd>

        <dt>特性說明:</dt>
        <dd>
            每盒6條，獨立包裝攜帶方便<br>
            『打碎的燕麥 + 糕點式的烘烤』更易入口使 銀髮族 及 牙齒不好 的朋友也可輕鬆享用~<br>
            『微波加熱 30秒』熔化的巧克力，幸福美滿!</br>
            『微波加熱 30秒 + 冰淇淋』<br>
            夏天的點心，會有意想不到的結果喔 !
        </dd>
    </dl>
    <img src="../../Content/images/products/c8/DM3-02.jpg" alt="" class="img-center">
    <img src="../../Content/images/products/c8/DM3-3-03.jpg" alt="" class="img-center">
</div>
<!-- content //-->

