@{
    ViewBag.Title = "麥盧卡蜂蜜 UMF 15+";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
 <li><a href="~/Products/Products_list">產品介紹 /</a></li>
}

   <div id="content">
    
    <h3>產品介紹<span>Our Products</span></h3>
    
    <p class="floatL"><a class="propic fancybox" href="~/Content/images/Products/c2_3_b.jpg"><img src="~/Content/images/Products/c2_3.jpg" /></a></p>
    <dl class="pro">
     <dt>麥盧卡蜂蜜 UMF 15+</dt>
     <dd>
      麥盧卡蜂蜜採自紐西蘭山坡和森林邊緣的野生麥盧卡花，色深質稠，濃醇蜜香，是蜜之極品，也是紐西蘭獨有的品種。麥盧卡蜂蜜含有一種穩定性高的抗菌成份 - 獨麥素 ( UMF® ) 是一般蜂蜜沒有的，能幫助傷口癒合、緩解腸胃和皮膚的不適，提高您的免疫力。
      <ul>
       <li>1.	麥盧卡蜂蜜 UMF® 5+ 具中等獨麥素含量，適合保健</li>
       <li>2.	麥盧卡蜂蜜 UMF® 10+ 具高等獨麥素含量，有良好的抗菌效果。</li>
       <li>3.	麥盧卡蜂蜜 UMF® 15+ 具優級獨麥素含量，有極高的抗菌效果。</li>
      </ul>
      UMF® 麥盧卡蜂蜜是通過 UMF蜂蜜協會 (Unique Manuka Factor Honey Association - UMFHA) 實驗室檢驗合格，品質保證的優質蜂蜜，製造商許可編號 #1042。<br />
      <img src="~/Content/images/Products/pic1.jpg">
      </dd>
    </dl>
    
    <h4>產品規格</h4>
    <dl class="detail">
     <dt>商品名稱:</dt>
     <dd>麥盧卡蜂蜜 UMF® 15+</dd>
     <dt>編號:</dt>
     <dd>MH03</dd>
     <dt>品牌:</dt>
     <dd>Jade Valley</dd>
     <dt>英文名稱:</dt>
     <dd>Manuka Honey UMF® 15+</dd>
     <dt>內容規格:</dt>
     <dd>250g</dd>
     <dt>成分內容:</dt>
     <dd>100% 純蜂蜜 (不含化學添加物、農藥、抗生素)</dd>
     <dt>食用方式:</dt>
     <dd>
      <ul>
       <li>1.	可直接放入口中食用。</li>
       <li>2.	搭配式 - 塗抹於麵包、餅乾、沙拉食用。</li>
       <li>3.	沖泡式 - 與飲品或開水混合食用。</li>
       <li>※三餐飯前半小時，直接放入口中食用，效果更佳</li>
      </ul>
     </dd>
     <dt>注意事項:</dt>
     <dd>
      <ul>
       <li>1.	一歲以下的嬰兒不宜食用。</li>
       <li>2.	糖尿病患者請先徵詢醫師建議。</li>
      </ul>
     </dd>
     <dt>保存方式:</dt>
     <dd>請放置陰涼乾燥處，結晶係屬自然物理現象。</dd>
     <dt>保存期限:</dt>
     <dd>5年 / 有效日期標示於包裝上(西元年/月/日)</dd>
     <dt>特性說明:</dt>
     <dd>
      麥盧卡蜂蜜含有特殊的活性抗菌物質能
      <ul>
       <li>1.	有效抵抗多種有害細菌及疾病，提升免疫力</li>
       <li>2.	幫助腸胃和皮膚健康</li>
       <li>3.	保護呼吸道及口腔健康</li>
       <li>4.	幫助傷口癒合</li>
      </ul>
     </dd>
     <dt>適用族群:</dt>
     <dd>
      <ul>
       <li><strong>1.	幫助維持腸胃道機能(促進新陳代謝，排便順暢):</strong> 適合經常在外用餐、壓力大、工作忙碌人事的保健食品。</li>
       <li><strong>2.	營養補給:</strong> 100% 純蜂蜜富含天然的維生素及礦物質，養顏美容，是全家老幼皆宜之美味保健食品。</li>
      </ul>
     </dd>
    </dl>
    
   </div>
   <!-- content //-->

