@{
    ViewBag.Title = "紐西蘭高優質初乳奶粉";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
 <li><a href="~/Products/Products_list">產品介紹 /</a></li>
}

   <div id="content">
    
    <h3>產品介紹<span>Our Products</span></h3>
    
    <p class="floatL"><a class="propic fancybox" href="~/Content/images/Products/c1_1_b.jpg"><img src="~/Content/images/Products/c1_1.jpg" /></a></p>
    <dl class="pro">
     <dt>紐西蘭高優質初乳奶粉</dt>
     <dd><strong>Lin’s Care 牛初乳系列產品</strong>採用的純紐西蘭牛初乳汁，來自全國各地的母牛每次生產後48~72小時內所分泌的黃金乳汁。這些母牛放養在無人干涉寬闊的大自然裡，以牧草為食，天然健康，乳汁優質。這些黃金乳汁則是經過高科技 - 巴氏瞬間殺菌、低溫噴霧乾燥加工處理，確保其純天然營養素和活性成份的完整性。牛初乳蛋白質高，含有豐富的免疫球蛋白和生長因子。Lin's Care 高優質初乳奶粉 奶味香醇濃厚，添加乳鈣和鋅，提供人體更完善的營養需求。<br /><br /><strong>※奶素</strong></dd>
    </dl>
    
    <h4>產品規格</h4>
    <dl class="detail">
     <dt>商品名稱:</dt>
     <dd>紐西蘭高優質初乳奶粉</dd>
     <dt>編號:</dt>
     <dd>LC01</dd>
     <dt>品牌:</dt>
     <dd>Lin’s Care®</dd>
     <dt>英文名稱:</dt>
     <dd>Colostrum Milk Powder</dd>
     <dt>內容規格:</dt>
     <dd>450g</dd>
     <dt>成分內容:</dt>
     <dd>全脂奶粉，牛初乳奶粉 8.1% (含 20% IgG )，葡萄糖酸鋅</dd>
     <dt>食用方式:</dt>
     <dd>
      <ul>
       <li>1.	將初乳奶粉與少量的水調勻成糊狀物，然後逐漸加入適量的水，慢慢的攪拌可以<br />減少泡沫的產生。</li>
       <li>2.	請用 50度C以下溫開水沖食。</li>
       <li>3.	飯前半小時或空腹食用，效果更加。</li>
       <li>4. 建議使用量<br />
        <em>1 歲 ~ 3 歲: 每次食用 0.5~1 匙<br />
        <em>3 歲 ~ 8 歲: &nbsp;每次食用 2~3 匙</em><br />
        <em>8 歲 ~ 18歲: 每次食用 2~4 匙</em><br />
        <em>成年人: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每次食用 3~5 匙</em><br />
        ※一匙 = 5公克</li>
      </ul>
     </dd>
     <dt>注意事項:</dt>
     <dd>
      <ul>
       <li>1.	營養補充食品，不作為主食。</li>
       <li>2.	不適合取代三歲以下的嬰兒配方奶粉。</li>
       <li>3.	糖尿病患者請先徵詢醫師建議。</li>
      </ul>
     </dd>
     <dt>保存方式:</dt>
     <dd>為確保奶粉的最優良品質，建議您於開封後將罐蓋蓋緊，儲存於陰涼乾燥處，<br />並於一個月內使用完畢。</dd>
     <dt>保存期限:</dt>
     <dd>2年 / 有效日期請參閱罐底 (西元 日/月/年)</dd>
     <dt>特性說明:</dt>
     <dd>
      <ul>
       <li>1.	牛初乳富含可調節免疫系統的營養因子、生長因子、及各項營養成份 (維生素、礦物質)，能提供人體需要的完整營養素，補充體力與元氣。</li>
       <li>2.	香醇濃厚的全脂奶味。</li>
       <li>3.	鋅，提供免疫系統、攝護腺、眼睛、肝臟等寶貴的營養支援。</li>
      </ul>
     </dd>
    </dl>
    
    <p>Lin’s Care 牛初乳系列產品是通過紐西蘭各項國家標準品質保證，提供您最頂級品質，百分百天然的保健食品。</p>

   </div>
   <!-- content //-->

