@{
    ViewBag.Title = "堅果棒 (綜合口味)";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
 <li><a href="~/Products/Products_list">產品介紹 /</a></li>
}

   <div id="content">
    
    <h3>產品介紹<span>Our Products</span></h3>
    
    <p class="floatL">
      <a class="propic fancybox" href="~/Content/images/Products/c5_7_b.jpg"><img src="~/Content/images/Products/c5_7.jpg" /></a>
      <a href="~/Content/images/Products/sgs.pdf" target="new"><img src="~/Content/images/Products/sgs.jpg" alt=""></a>
    </p>
    <dl class="pro">
     <dt>堅果棒 (綜合口味)</dt>
     <dd>
      Nice &amp; Natural 就是希望在忙碌的生活裡，還是能給自己和家人吃的好一點，所以在研發的過程當中依據著食物中的五大類群，也就是『大自然的五顆星』，由全穀燕麥，天然水果，葡萄乾等多種有益健康的天然素材組合而成，散發獨特香氣與純淨清新的口感，讓您會想吃了一口接一口。<br>
      <strong>※營養棒</strong> 攜帶方便，是成長中的兒童和成人理想的健康食品。<br>
      <ul>
      <li><strong>Nice &amp; Natural – “熱愛生活中的每一個大小冒險”</strong></li>
       <li>• 紐西蘭第一家推出堅果棒營養棒品牌。</li>
       <li>• 紐西蘭、澳洲，營養棒是小朋友便當裡必備的<strong>健康餐點</strong>。</li>
       <li>• 紐西蘭原裝進口，經過當地 SGS 最嚴厲的 SQF 食品安全品質標準。</li>
      </ul>
      </dd>
    </dl>
    
    <h4>產品規格</h4>
    <blockquote>
      <p>Nice &amp; Natural是一家在紐西蘭有將近30年糕餅品牌，秉持著 150多年傳統的秘方，製造最好的餅乾。多次的改良後現在成為大人小孩都喜愛的口味，是一家為了讓生命充滿著『健康、活力、笑容』的食品品牌 。</p>
      <p>每一份點心『天然、美味、可口』，為了提供忙碌生活中的您一個完善的營養選擇。我們有堅果棒、堅果棒、還有小朋友最喜愛的<strong>可口棒</strong>和<strong>水果條</strong>。 所有的產品都是精心設計，實實在在地塞滿了來自大自然的各種恩賜。</p>
      <p>在 Nice &amp; Natural，我們喜歡嘗試新事物。我們是紐西蘭第一家推出堅果棒還有水果條的營養棒品牌。<br>在市面上也已經有許多讓人映像深刻的產品，可是我們還是一直不斷的努力在研發新產品，因為…</p>
      <p><strong>『嚐試』</strong>才是人生最大的樂趣。</p>
    </blockquote>
    <dl class="detail">
     <dt>商品名稱:</dt>
     <dd>堅果棒 (綜合口味)</dd>
     <dt>編號:</dt>
     <dd>NNNB01</dd>
     <dt>品牌:</dt>
     <dd>Nice &amp; Natural<sup>TM</sup></dd>
     <dt>英文名稱:</dt>
     <dd>Nut Bar Trail Mix</dd>
     <dt>內容規格:</dt>
     <dd>192g</dd>
     <dt>成分內容:</dt>
     <dd>
      烤花生、優酪乳 (糖，脂肪酸山梨醇酐酯、乳固體、優酪乳粉 (乳固體、乳酸菌)、大豆卵磷脂)、葡萄糖漿、白葡萄乾、黑糖、杏仁、杏桃片(果醬(杏桃、蘋果)、果汁(蘋果、檸檬) 柑橘纖維、蘋果果膠、天然香料、紅椒 (天然色素))、腰果、南瓜籽、焦糖糖漿、葵花油、大豆卵磷脂。<br>
      <strong>烤花生 (42％)、優酪乳 (14%)、白葡萄乾 (8%)、杏仁 (5%)、杏桃片 (5%)、腰果 (4.5%)、南瓜籽 (2%)</strong>
     </dd>
     <dt>食用方式:</dt>
     <dd>
      <ul>
       <li>1.	餐前餐後最佳甜點</li>
       <li>2.	搭配 咖啡，茶，果汁飲料，牛初乳奶粉</li>
      </ul>
     </dd>
     <dt>適合人群:</dt>
     <dd>
      <ul>
       <li>1. 上班族辦公室</li>
       <li>2. 在外的學生遊子</li>
       <li>3. 登山騎車運動</li>
       <li>4. 男女老少皆宜</li>
      </ul>
     </dd>
     <dt>注意事項:</dt>
     <dd>
      <ul>
       <li>1. 本產品含花生、牛奶、本木堅果 (杏仁、腰果) 和大豆。</li>
       <li>2.	生產機器也用於製造含有芝麻粒，麥片麩質和亞硫酸鈉之類產品。</li>
      </ul>
     </dd>
     <dt>保存方式:</dt>
     <dd>
      <ul>
       <li>為確保堅果棒的最優良品質，請儲存於陰涼乾燥處。</li>
       <li>包裝開封後請盡早食用完畢，冷藏後食用更佳。</li>
      </ul>
     </dd>
     <dt>保存期限:</dt>
     <dd>14個月 / 有效日期請參閱盒蓋上 (西元 日/月/年)</dd>
     <dt>特性說明:</dt>
     <dd><strong>烤花生、白葡萄乾、優酪乳、杏仁、杏桃、腰果、南瓜籽</strong></dd>
    </dl>
    
   </div>
   <!-- content //-->

