@{
    ViewBag.Title = "Café-style Light 原味";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
 <li><a href="~/Products/Products_list">產品介紹 /</a></li>
}

   <div id="content">
    
    <h3>產品介紹<span>Our Products</span></h3>
    
    <p class="floatL">
      <a class="propic fancybox" href="~/Content/images/Products/c7_1_b.jpg"><img src="~/Content/images/Products/c7_1.jpg" /></a>
    </p>
    <dl class="pro">
     <dt>Café-style Light 原味</dt>
     <dd>
      許多健康專家都認為<strong>「早餐是孩子們一天之中最重要的一餐」</strong>。 <strong>Vogel’s</strong> 的麥片系列產品中，我們為您精心提供各類便於人體吸收的<strong>穀物，水果，種子和堅果等健康食材</strong>。富含多種蛋白質，維生素和礦物質，可以滿足您一天的健康所需。<br>
      <strong>Vogel’s</strong> 對自然的瞭解，幫助我們找到了各種健康功效的天然優質原材料。例如<strong>無麩質、全穀物、甜菊(天然植物甜味劑，減少精製糖的需求)</strong>。<br>
      我們每天為成千上萬的家庭提供健康和美味的早餐。我們的麥片主要來自本土的精選原料而且不再額外添加「人工色素，防腐劑及香料」。
      <ul>
       <li><strong>※ 「Café-Style Light」- 咖啡館風格系列</strong></li>
       <li>•　很多人問我們 :「為什麼叫 Café-Style ?」</li>
       <li>•　我們的回應是 : <strong>「就是希望它能比擬在一間悠閒咖啡廳裡招待的美味燕麥餐。」</strong></li>
       <li>•　<strong>整塊整塊的食材，精細的手工製做，比別人都再少一點的加工過程，呈獻出最天然的它，會讓您想要把它帶回家。</strong>所以我們稱它為 Café-Style -咖啡館風格麥片</li>
      </ul>
      </dd>
    </dl>
    
    <h4>產品規格</h4>
    <blockquote>
      <p>Vogel’s 在紐西蘭, 英國和澳洲是一個享譽盛名的「麵包」和「麥片」品牌。品牌的靈感源自一位瑞士營養大師 Alfred Vogel 「阿爾弗雷德·沃格爾」對健康生命的追求和信念。他認為，健康和營養是密切相關的，而生命中最美好的品質可以通過攝取營養豐富的天然食品，均衡飲食和健康的生活方式來實現。Vogel’s 相信令人垂涎三尺的口味和獨特的營養成分都來自於大自然中最好的食材。
      </p>
      <p>Vogel’s 致力於生產美味的優質麥片產品，我們採取所有切實可行的步驟，確保整個供應鏈中產品的安全性、品質和完整性。我們採用國際公認的 HACCP(食品安全管理系統驗證)體係來確保食品的安全。該系統評估，控制危害，涵蓋了整個食品生產過程中，從原料的選擇到運輸和食用。</p>
    </blockquote>
    <dl class="detail">
     <dt>商品名稱:</dt>
     <dd>Café-style Light 原味</dd>
     @* <dt>編號:</dt>
     <dd>NNSF01</dd> *@
     <dt>品牌:</dt>
     <dd>Vogel’s</dd>
     <dt>英文名稱:</dt>
     <dd>Café-style Light Original</dd>
     <dt>內容規格:</dt>
     <dd>400g</dd>
     <dt>成分內容:</dt>
     <dd>穀類(53%)(玉米,蕎麥,米),水果乾(18%)(白葡萄乾(白葡萄乾,甘油),香蕉片(香蕉,椰子油,糖,天然香料),椰子<含偏亞硫酸氫鈉>)),蔓越莓乾(糖,蔓越莓,葵花籽油)),堅果和種籽(12%)(腰果,葵花籽,杏仁,亞麻籽,南瓜籽),黑糖,蜂蜜(1%),金黃糖漿,葡萄糖<含偏亞硫酸氫鈉>),玄米油,鹽,脂肪酸甘油酯,肉桂,肉桂香料,維生素(維生素E,葉酸)。</dd>
     <dt>食用方式:</dt>
     <dd>
      <ul>
       <li>1.	健康早餐的最佳選擇</li>
       <li>2.	搭配 牛奶，豆漿</li>
      </ul>
     </dd>
     <dt>適合人群:</dt>
     <dd>
      <ul>
       <li>1. 上班族辦公室</li>
       <li>2. 正在發育的孩子</li>
       <li>3. 男女老少皆宜</li>
      </ul>
     </dd>
     <dt>注意事項:</dt>
     <dd>
      <ul>
       <li>1. 本產品含有堅果和添加亞硫酸鹽。</li>
       <li>2. 本產品配方不使用含有麩質的成分。雖然Vogel’s在加工過程中非常小心，該產品產於其中還生產麩質和含小麥的穀物環境。</li>
      </ul>
     </dd>
     <dt>保存方式:</dt>
     <dd>
      <ul>
       <li>請儲存於陰涼乾燥處。</li>
       <li>包裝開封後請盡早食用完畢。</li>
      </ul>
     </dd>
     <dt>保存期限:</dt>
     <dd>10個月 / 有效日期請參閱盒蓋上 (西元 日/月/年)</dd>
     <dt>特性說明:</dt>
     <dd>
      <ul>
        <li>•　豐富的食材- 53% 穀類(玉米，<strong>蕎麥</strong>，大米), <strong>18%</strong> 水果乾 (白葡萄亁，香蕉片，椰子，蔓越莓亁), <strong>12%</strong> 堅果和種籽 (腰果，葵花籽，杏仁，<strong>亞麻籽</strong>，南瓜籽)</li>
        <li>•　<strong>無麩質食品</strong> (麩質含量低於 <strong>10ppm</strong>) - 麩質過敏症的人也可以享用</li>
        <li>•　<strong>蕎麥</strong>本身含有蛋白質 <strong>13.1%</strong> 及纖維 <strong>8.7%</strong>，一般白米或麥的蛋白質只有 <strong>7.3~12%</strong>，纖維只有 <strong>0.4~2.4%</strong>。</li>
        <li>•　<strong>亞麻籽</strong>含極豐富<strong>Omega-3</strong>(必需脂肪酸)：一湯匙亞麻籽含有 <strong>3800</strong> 毫克的 Omega-3 脂肪酸，相當於魚肝油的 <strong>10 </strong>倍。</li>
      </ul>
     </dd>
    </dl>
    
   </div>
   <!-- content //-->

