@{
    ViewBag.Title = "Light & Right 麥片(杏桃)";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
 <li><a href="~/Products/Products_list">產品介紹 /</a></li>
}

   <div id="content">
    
    <h3>產品介紹<span>Our Products</span></h3>
    
    <p class="floatL">
      <a class="propic fancybox" href="~/Content/images/Products/c6_4_b.jpg"><img src="~/Content/images/Products/c6_4.jpg" /></a>
      <img src="~/Content/images/Products/hubbards_award.jpg" alt="">
    </p>
    <dl class="pro">
     <dt>Light &amp; Right 麥片(杏桃)</dt>
     <dd>
      忙碌的生活裡總是希望自己和家人能吃的好一點，所以在研發的過程當中，我們依據食物中的五大類群，所謂『大自然的五顆星』，由全殼燕麥，天然水果，葡萄乾等多種有益健康的天然素材組合而成，散發獨特香氣與純淨清新的口感，讓您會想吃了一口接一口。<br>
      <strong>※ Light &amp; Right 系列</strong><br>
      輕盈但不缺營養的麥片系列，提供多項選擇和保持平衡。Light &amp; Right 系列 在2004年榮獲<strong>「紐西蘭心臟基金會」(The National Heart Foundation of New Zealand)</strong> 兩項獎牌
      <ul>
       <li>• 營養獎牌</li>
       <li>• 麥片 &amp; 麵包產品獎牌</li>
      </ul>
      </dd>
    </dl>
    
    <h4>產品規格</h4>
    <blockquote>
      <p>Hubbards是紐西蘭第一自家燕麥品牌。Hubbards夫婦在1990年 創立了 Hubbards，宗旨是製作好食物，讓世界變得更美好。Hubbards的食物不僅要天然、健康、營養、美味、環保、讓您感到活力十足，也要讓<strong>「這個世界每天充滿正能量」</strong>。<strong>“ Happy People Make Happy Food ” </strong></p>
    </blockquote>
    <dl class="detail">
     <dt>商品名稱:</dt>
     <dd>Light &amp; Right 麥片(杏桃)</dd>
     @* <dt>編號:</dt>
     <dd>NNSF01</dd> *@
     <dt>品牌:</dt>
     <dd>Hubbards</dd>
     <dt>英文名稱:</dt>
     <dd>Light &amp; Right – Apricot</dd>
     <dt>內容規格:</dt>
     <dd>450g</dd>
     <dt>成分內容:</dt>
     <dd>全穀類（小麥，燕麥，膨化蕎麥），杏桃（杏桃片，杏桃果泥＆杏桃塊　[含小麥]），糖，米， 麩棒（含小麥和大麥），南瓜籽，大麥麥芽萃取物（含麩質），鹽，蜂蜜，聚糊精，香料，脂肪酸甘油酯，芥花油，檸檬酸，金黃糖漿。</dd>
     <dt>食用方式:</dt>
     <dd>
      <ul>
       <li>1.	健康早餐的最佳選擇</li>
       <li>2.	搭配 牛奶，豆漿</li>
      </ul>
     </dd>
     <dt>適合人群:</dt>
     <dd>
      <ul>
       <li>1. 上班族辦公室</li>
       <li>2. 正在發育的孩子</li>
       <li>3. 男女老少皆宜</li>
      </ul>
     </dd>
     <dt>注意事項:</dt>
     <dd>
      <ul>
       <li>本產品工廠設備處理過花生，大豆和堅果。</li>
      </ul>
     </dd>
     <dt>保存方式:</dt>
     <dd>
      <ul>
       <li>請儲存於陰涼乾燥處。</li>
       <li>包裝開封後請盡早食用完畢。</li>
      </ul>
     </dd>
     <dt>保存期限:</dt>
     <dd>12個月 / 有效日期請參閱盒蓋上 (西元 日/月/年)</dd>
     <dt>特性說明:</dt>
     <dd>
      豐富的 全穀燕麥、水果、南瓜籽、葵花籽、蜂蜜
     </dd>
    </dl>
    
   </div>
   <!-- content //-->

