@{
    ViewBag.Title = "品牌故事";
    Layout = "~/Views/Shared/Layout.cshtml";
}

   <div id="content">
    
    <h3>品牌故事<span>List of Brands</span></h3>

    <ul>
    	<li><a href="http://www.lins-care.co.nz/" target="new"><img src="~/Content/images/story/pic3.jpg" /></a></li>
    	<li><a href="http://www.exoticaenterprise.com/" target="new"><img src="~/Content/images/story/pic2.jpg" /></a></li>
    	<li><a href="http://jadevalleyhoney.com/" target="new"><img src="~/Content/images/story/pic1.jpg" /></a></li>
    	<li><a href="http://www.motherearth.co.nz/" target="new"><img src="~/Content/images/story/pic4.jpg" /></a></li>
      <li><a href="http://www.hubbards.co.nz/" target="new"><img src="~/Content/images/story/pic5.gif" /></a></li>
      <li><a href="http://www.vogels.co.nz/" target="new"><img src="~/Content/images/story/pic6.gif" /></a></li>
    </ul>
    
   </div>
   <!-- content //-->

